{
    "singleQuote": false,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-tailwindcss"],
    "semi": true,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "proseWrap": "always",
    "htmlWhitespaceSensitivity": "strict",
    "endOfLine": "lf"
}
